.home {
  .header {
    &__brand {
      filter: invert(1);
    }

    &__left {
      background: transparent;
      padding: 0;
    }
  }

  .hamburger {
    filter: invert(1);
  }

  .sidebar {
    padding-right: 0;
    margin: auto;
    position: fixed;

    @include media(md) {
      background: transparent;
    }
  }

  .navigation {
    color: color("light");

    &__copyright {
      display: initial;
    }
  }

  .content {
    display: block;
    height: 100vh;
  }

  .main {
    display: block;
    width: auto;
    height: 100vh;
    overflow: auto;
  }

  .hero {
    &__image {
      opacity: 0.4;
    }
  }

  .icon-nav {
    background-color: transparent;

    &__icon {
      border-color: transparent;
    }

    &__img {
      filter: invert(0);
    }
  }
}
