.page-template-page-insipration {
  .content {
    height: auto;
    display: initial;
  }

  .main {
    display: initial;
    width: auto;
  }

  .sidebar {
    position: fixed;
    background: transparent;
    padding-right: 0;
  }
}
