.my-account,
.moje-konto {
  .main {
    .woocommerce {
      @include cssLock("padding", 360, 1920, (25, 50));

      .woocommerce-MyAccount-navigation {
        width: 100%;

        ul {
          @include cssLock("margin-right", 360, 1920, (-6, -12));
          @include cssLock("margin-left", 360, 1920, (-6, -12));

          display: flex;
          justify-content: flex-start;
          align-items: center;
          list-style: none;
          padding: 0;

          li {
            @extend .text;

            @include cssLock("padding", 360, 1920, (6, 12));

            &.is-active {
              color: color("special");
            }

            &.woocommerce-MyAccount-navigation-link--downloads {
              display: none;
            }
          }
        }
      }

      .woocommerce-MyAccount-content {
        width: 100%;

        a {
          color: color("special");
          font-weight: 600;
        }

        p {
          @extend .text;

          @include cssLock("margin-bottom", 360, 1920, (12, 24));

          max-width: $gutter * 60;
        }
      }

      .woocommerce-MyAccount-orders {
        border: 0;

        td,
        th {
          @extend .text;

          @include cssLock("padding", 360, 1920, (6, 12));

          padding-left: 0;
          display: table-cell;
        }

        .button {
          border: 0;
          padding: 0;
          background: transparent;
        }
      }

      .addresses {
        header {
          @include cssLock("margin-bottom", 360, 1920, (12, 24));

          display: flex;
          flex-direction: column;
        }

        h3 {
          @extend .subtitle;
          @extend .bold;
        }

        a {
          @extend .text;
        }
      }

      form {
        max-width: $gutter * 60;
        border: 0 !important;
        padding-left: 0;

        .input-text {
          @extend .text;

          @include cssLock("padding", 360, 1920, (6, 12));

          border: 0;
          border-bottom: 1px solid color("greyy");
          background: transparent;
          padding-left: 0;
        }

        select {
          @include cssLock("padding", 360, 1920, (6, 12));
        }

        button {
          @extend .subtitle;
          @extend .bold;

          @include cssLock("padding", 360, 1920, (12, 24));

          background: transparent !important;
          color: color("special") !important;
          text-align: left;
          display: inline-block;
          border: 0 !important;
          padding-left: 0 !important;
          float: left !important;
          cursor: pointer;

          &:hover {
            color: color("special") !important;
            opacity: 0.6;
          }
        }

        .woocommerce-form-login__rememberme {
          display: block;
        }
      }
    }
  }
}
