.woocommerce-cart,
.woocommerce-checkout {
  .main {
    .woocommerce {
      @include cssLock("padding-top", 360, 1920, (25, 50));
      @include cssLock("padding-bottom", 360, 1920, (25, 50));
      @include cssLock("padding-left", 360, 1920, (25, 50));
      @include cssLock("padding-right", 360, 1920, (25, 50));

      table.shop_table {
        border: 0;

        th {
          @include cssLock("padding", 360, 1920, (12, 24));

          @extend .text;
          @extend .bold;

          display: table-cell;
          padding-left: 0;

          &.product-remove {
            width: $gutter;
          }
        }

        a.remove {
          color: color("dark") !important;
          font-weight: 300;
          transition: $transition;

          &:hover {
            background-color: transparent !important;
            transform: rotate(180deg);
          }
        }

        td {
          @extend .text;

          @include cssLock("padding", 360, 1920, (12, 24));

          padding-left: 0;

          &.product-thumbnail {
            img {
              width: $gutter * 20;
              border-radius: $gutter * 2;
            }
          }

          .quantity .qty {
            border: 0;
            background-color: transparent;
          }
        }
      }

      .actions {
        .coupon {
          position: relative;
          border-radius: $gutter * 5;
          display: flex;
          color: color("greyy");
          border: 1px solid;
          overflow: hidden;
          width: $gutter * 25;

          input.input-text.input-text {
            @extend .text;

            @include cssLock("padding", 360, 1920, (12, 24));

            border: 0;
            color: color("greyy");
            background-color: transparent !important;
            width: 100%;
          }

          button {
            @extend .icon;
            @extend .icon--plus;
            @extend .icon--dark-line;

            margin: auto;

            @include cssLock("margin-right", 360, 1920, (6, 6));

            background: transparent;
            border: 0;
            font-size: 0;
            cursor: pointer;

            &:hover {
              background: transparent;
            }
          }
        }

        .button {
          @include cssLock("padding-top", 360, 1920, (12, 24));
          @include cssLock("padding-bottom", 360, 1920, (12, 24));
          @include cssLock("padding-left", 360, 1920, (12, 24));
          @include cssLock("padding-right", 360, 1920, (12, 24));

          border: 0;
          background: transparent;

          &:hover {
            background: color("special");
          }

          &:disabled[disabled] {
            &:hover {
              background: transparent !important;
            }
          }
        }
      }

      .cart_totals {
        width: 100%;
      }

      .checkout-button {
        @extend .subtitle;
        @extend .bold;

        @include cssLock("padding", 360, 1920, (12, 24));

        background: transparent !important;
        color: color("dark");
        text-align: left;
        display: inline-block;

        &:hover {
          color: color("special");
        }
      }
    }
  }

  .footer {
    display: none;
  }
}

.woocommerce-message,
.woocommerce-info {
  @extend .text;

  @include cssLock("margin-bottom", 360, 1920, (25, 50));
  @include cssLock("padding-top", 360, 1920, (12, 12));

  background-color: transparent;
  display: block;
  border-top-color: color("special");
  color: color("greyy");

  a {
    @extend .bold;

    color: color("special");
  }

  &::before {
    display: none;
  }
}
