.button {
  @extend .minor-text;

  font-weight: 600;
  padding: ($gutter * 1.5);
  background-color: rgba(color("special"), 0.36);
  transition: $transition;
  width: 100%;
  text-align: center;
  box-shadow: ($gutter * 1) ($gutter * 1) ($gutter * 0.5) rgba(color("dark"), 0.02);
  cursor: pointer;

  @include media(xs) {
    width: auto;
  }

  &:hover {
    background-color: rgba(color("special"), 0.8);
  }

  &--special-light {
    @extend .text;

    font-weight: 500;
    display: inline-block;
    border: 1px solid;
    background-color: color(special-light);
    color: color(light);
    padding: ($gutter * 0.6) ($gutter * 0.6);
    box-shadow: 1px 1px 6px rgba(27, 34, 36, 0.18);
    transition: $transition;

    &:hover {
      background-color: rgba(color(special-light), 0.6);
    }
  }

  &--underline {
    background-color: transparent;
    border-color: transparent;
    padding: ($gutter * 0.2) 0;
    outline: 0;
    box-shadow: none;
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: auto;

    &::before {
      @extend %absolute;

      content: "";
      top: unset;
      width: 100%;
      height: $gutter * 0.1;
      background-color: color(dark);
    }

    &:hover {
      background-color: transparent;
    }
  }
}
