.search {
  $root: &;

  width: 100%;

  @include media(xs) {
    width: auto;
  }

  &.-is-active {
    #{$root}__input {
      max-width: 100%;

      @include media(xs) {
        max-width: $gutter * 20;
      }
    }
  }

  &__input {
    @extend .normalize-font;

    @include cssLock("font-size", 360, 1920, (10, 12));

    border: 0;
    border-bottom: $gutter * 0.1 solid color(light);
    color: color(light);
    background: transparent;
    text-align: center;
    line-height: $gutter * 2.2;
    text-transform: uppercase;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    transition: $transition;
    outline: 0 !important;
    font-weight: 400;
    letter-spacing: 2px;

    &::placeholder {
      color: color(light);
    }
  }

  &__button {
    @extend .button;
    @extend .button--special-light;

    margin: ($gutter * 2) 0 ($gutter * 4);
  }
}
