.search {
  $root: &;

  width: 100%;

  @include media(xs) {
    width: auto;
  }

  &.-is-active {
    #{$root}__input {
      @include media(xs) {
        max-width: $gutter * 20;
      }
    }
  }

  &__input {
    @extend .text;

    border: 0;
    background: transparent;
    border-radius: $gutter;
    box-shadow: 3px 3px 5px 1px rgba(55, 62, 64, 0.13), inset 12px 12px 30px 2px rgba(0, 0, 0, 0.17);
    background-image:
      linear-gradient(
        to top,
        rgba(255, 252, 252, 0.8) 0%,
        rgba(229, 225, 225, 0) 100%
      );
    text-align: center;
    line-height: $gutter * 2.2;
    text-transform: uppercase;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    transition: $transition;
    outline: 0 !important;

    @include media(xs) {
      max-width: 0;
    }

    &::placeholder {
      color: color(dark);
    }
  }

  &__button {
    @extend .button;
    @extend .button--special-light;

    margin: ($gutter * 2) 0 ($gutter * 4);
  }
}
