%text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: map-get($font-family, "special"), serif;
}

.headline {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (24, 72));

  font-family: map-get($font-family, "main"), serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: $gutter * 0.36;
}

.title {
  @include cssLock("font-size", 360, 1920, (18, 24));

  @extend %text;
}

.subtitle {
  @include cssLock("font-size", 360, 1920, (14, 24));

  @extend %text;
}

.text {
  @include cssLock("font-size", 360, 1920, (12, 16));

  @extend %text;
}

.major-text {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (12, 18));
}

.minor-text {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (12, 16));
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

.link {
  @include cssLock("font-size", 360, 1920, (16, 16));

  font-family: map-get($font-family, "special"), serif;
  letter-spacing: $gutter *0.1;
  transition: $transition;

  &--normalize-font {
    font-family: map-get($font-family, "main"), sans-serif;
  }

  &:hover {
    opacity: 0.3;
  }
}
