.contact {
  position: relative;
  color: color(dark);

  &::before {
    @extend %absolute;

    content: "";
    background: linear-gradient(to right, color(light) 40%, rgba(color(light), 0.2));
    z-index: -1;
  }

  & > .container {
    @include cssLock("padding", 360, 1920, ($gutter_num * 3, $gutter_num * 10));
    @include cssLock(
      "padding-top",
      360,
      1920,
      ($gutter_num * 6, $gutter_num * 18)
    );
    @include cssLock(
      "padding-bottom",
      360,
      1920,
      ($gutter_num * 6, $gutter_num * 24)
    );

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__bg {
    @extend %absolute;
    @extend %image;

    z-index: -2;
  }

  &__title {
    @extend .headline;

    color: color(greyy-light);
    margin-bottom: $gutter * 4;
    max-width: $gutter * 60;

    @include media(xs) {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    @include media(xs) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__address-wrapper {
    font-style: normal;
    margin-bottom: $gutter * 4;

    h1,
    h2,
    h3,
    h4,
    h5,
    h5 {
      @extend .title;

      font-weight: bold;
      margin-bottom: $gutter;
    }

    p {
      @extend .minor-text;
    }
  }
}
