.description {
  position: relative;
  z-index: 10;
  margin-bottom: $gutter * 6;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gutter*3;
    padding-right: $gutter * 3;

    @include media(md) {
      grid-template-columns: 3fr 1fr;
    }
  }

  &__img-box {
    position: relative;
  }

  &__image {
    @extend %absolute;
    @extend %image;

    display: none;
    height: calc(100% + #{$gutter * 16}) !important;

    @include media(md) {
      display: block;
    }
  }

  &__content {
    @include cssLock("font-size", 360, 1920, (10, 14));

    line-height: 3;
    font-weight: 500;
  }
}
