.extra-menu {
  @include cssLock(
    "margin-top",
    360,
    1920,
    ($gutter_num * 12, $gutter_num * 30)
  );
  @include cssLock(
    "margin-bottom",
    360,
    1920,
    ($gutter_num * 3, $gutter_num * 10)
  );

  z-index: 10;

  & + & {
    @include cssLock(
      "margin-top",
      360,
      1920,
      ($gutter_num * 6, $gutter_num * 18)
    );
  }

  &__nav {
    margin: 0 auto;
    position: relative;
  }

  &__menu {
    @include cssLock(
      "margin",
      360,
      1920,
      (-$gutter_num * 0.75, -$gutter_num * 1.5)
    );

    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  li {
    a {
      @extend .link;

      @include cssLock(
        "padding",
        360,
        1920,
        ($gutter_num * 0.75, $gutter_num * 1.5)
      );

      display: inline-block;
      position: relative;
      z-index: 10;
      white-space: nowrap;
    }

    &.current-menu-item {
      a {
        &::after {
          content: "";

          @extend %absolute;

          width: 100%;
          height: $gutter * 0.1;
          top: unset;
          bottom: $gutter * 0.1;
          background: color(dark);
        }
      }
    }
  }

  .sub-menu {
    @extend %absolute;

    @include cssLock(
      "margin",
      360,
      1920,
      (-$gutter_num * 0.75, -$gutter_num * 1.5)
    );

    margin-top: 0;
    margin-bottom: -$gutter * 0.3;
    bottom: 100%;
    top: unset;
    padding-left: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    z-index: 0;
    opacity: 1;
    display: none;
    border-bottom: $gutter * 0.3 solid black;

    li {
      padding-bottom: $gutter;
      position: relative;
      z-index: 10;
    }
  }

  .current-menu-item.menu-item-has-children {
    & > a {
      @include media(xs) {
        border: $gutter * 0.3 solid black;
        border-top: 0;
        background: color(light);
        margin-top: -0.2px;
      }

      &::after {
        @include media(xs) {
          display: none;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    .sub-menu {
      opacity: 1;
      pointer-events: initial;
      z-index: 1;
      display: none;

      @include media(xs) {
        display: flex;
      }

      a {
        &::after {
          display: none;
        }
      }
    }
  }
}

.post-type-archive #menu-categories {
  border-top: $gutter * 0.3 solid black;
}
