.header {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: z-index("header");
  width: 100%;
  padding: ($gutter * 3) 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    @include media(xs) {
      flex-direction: row;
    }
  }

  &__brand-wrapper {
    @extend %absolute;

    max-width: $gutter * 10;
    top: $gutter * 0.5;
    position: initial;
    margin: 0;
    background-color: rgba(color(light), 0.8);

    @include media(xs) {
      position: absolute;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      height: $gutter * 13;
      max-width: $gutter * 20;
      top: -$gutter * 3;
      padding: $gutter * 2 $gutter * 4;
    }
  }

  &__brand {
    object-fit: unset;
    height: auto;
  }

  &__social-media {
    padding-left: $gutter * 3;
    display: none;

    @include media(xs) {
      display: flex;
    }
  }

  &__additional-links {
    padding-left: $gutter * 3;
    display: none;

    @include media(xs) {
      display: flex;
    }
  }

  &__cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--right {
      display: none;

      @include media(xs) {
        display: flex;
      }
    }
  }

  &--reverse {
    .additional-links__icon,
    .social-icons__icon {
      filter: invert(0);
    }

    .search__input {
      filter: invert(1);
    }

    .hamburger__line {
      background: color(dark);
    }
  }
}
