.product-details {
  @include cssLock(
    "margin-top",
    360,
    1920,
    ($gutter_num * 6, $gutter_num * 15)
  );

  .container {
    flex-wrap: wrap;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    @include media(md) {
      grid-template-columns: ($gutter * 60) auto;
    }
  }
}
