.wishlist {
  @extend %absolute;

  position: fixed;
  background: color("light");
  z-index: z-index("wishlist");
  opacity: 0;
  pointer-events: none;
  padding: ($gutter * 5) 0;
  transition: $transition;

  &.-is-active {
    opacity: 1;
    pointer-events: initial;
  }

  .container {
    flex-wrap: wrap;
  }

  &__title {
    @extend .title;
  }

  &__dsc {
    @extend .text;

    width: 100%;
    margin: ($gutter * 5) 0 0;

    &--login {
      margin-top: 0;
    }
  }

  &__login {
    margin: $gutter 0;

    @include media(xs) {
      margin: 0 $gutter;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: $gutter * 3;
    width: 100%;
    margin-bottom: $gutter * 10 !important;
    padding-left: 0;
    max-height: 90vh;
    overflow: auto;

    &::before,
    &::after {
      display: none !important;
    }

    @include media(xs) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media(xs) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
