.woo {
  margin-top: $gutter * 10;
  padding: ($gutter * 10) 0 ($gutter * 10);

  @include media(xs) {
    margin-top: $gutter * 20;
  }

  .woocommerce {
    width: 100%;
  }

  .woocommerce table.shop_table th {
    @extend .text;

    padding: $gutter;
  }

  .woocommerce table.shop_table td {
    @extend .minor-text;

    padding: $gutter;
    font-weight: 400;
  }

  .woocommerce a.remove {
    color: color(dark) !important;
    transition: $transition;

    &:hover {
      background: transparent;
      opacity: 0.6;
    }
  }

  input,
  select {
    height: $gutter * 4;
    width: 100% !important;
    padding: $gutter !important;

    @include media(xs) {
      width: auto !important;
    }
  }

  select {
    width: 100% !important;
  }

  .woocommerce-shipping-calculator {
    input {
      width: 100% !important;
    }

    button.button.button.button.button.button {
      width: 100% !important;
    }
  }

  .select2 {
    display: none;
  }

  .woocommerce .quantity .qty {
    border: 0;
    text-align: left;
    padding: 0 !important;
    width: 50px !important;
    outline: 0 !important;
  }

  button.button.button.button.button {
    @extend .button;
    @extend .button--special-light;

    height: $gutter * 4;
    padding: $gutter ($gutter * 2) !important;
    border-radius: 0;
    color: color(light);
    background-color: color(special-dark) !important;
    width: 100% !important;

    @include media(xs) {
      width: auto !important;
    }

    &:hover {
      opacity: 0.8;
      background-color: color(special-dark) !important;
    }
  }

  .woocommerce #respond input#submit.alt,
  .woocommerce a.button.alt,
  .woocommerce button.button.alt,
  .woocommerce input.button.alt {
    @extend .button;

    background-color: color(special-dark) !important;

    &:hover {
      opacity: 0.8;
      background-color: color(special-dark) !important;
    }
  }

  form {
    margin-bottom: $gutter * 8;
  }

  h2,
  h3 {
    @extend .title;

    margin-bottom: $gutter * 2;
  }

  .woocommerce form .form-row input.input-text,
  .woocommerce form .form-row textarea {
    width: 100% !important;
  }

  label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    @extend .text;
  }

  input#ship-to-different-address-checkbox {
    height: auto;
  }

  .payment_box.payment_method_bacs {
    width: 100%;
  }

  .wc_payment_method {
    display: block;
    flex-direction: column;

    input {
      float: left;
    }

    label {
      float: left;
    }

    div {
      float: left;
    }
  }

  ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    padding: 0;
  }

  p.woocommerce-notice {
    @extend .text;

    margin-bottom: $gutter * 2;
  }

  .woocommerce ul.order_details li {
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-weight: 600;
    width: 100%;

    @media (max-width: 567px) {
      border: 0;
    }

    @include media(xs) {
      width: auto;
    }

    strong {
      font-weight: 400;
    }
  }

  .woocommerce-column__title {
    margin: $gutter 0;
  }

  .woocommerce ul.order_details {
    padding: 0;
  }

  .woocommerce .woocommerce-customer-details address {
    padding: $gutter * 2;
  }

  .woocommerce-MyAccount-navigation {
    ul {
      padding: 0;
    }

    .woocommerce-MyAccount-navigation-link {
      @extend .text;

      margin-bottom: $gutter;

      &.is-active {
        a {
          position: relative;
          line-height: 2;

          &::after {
            content: "";

            @extend %absolute;

            width: 100%;
            height: $gutter * 0.1;
            top: unset;
            bottom: $gutter * 0.1;
            background: color(dark);
          }
        }
      }
    }
  }

  .u-columns.woocommerce-Addresses.col2-set.addresses {
    margin-top: $gutter * 2;
  }

  header.woocommerce-Address-title.title {
    .edit {
      @extend .button;
      @extend .button--special-light;

      height: $gutter * 4;
      padding: $gutter ($gutter * 2) !important;
      border-radius: 0;
      color: color(light);
      background-color: color(special-dark) !important;
      width: 100% !important;

      @include media(xs) {
        width: auto !important;
      }

      &:hover {
        opacity: 0.8;
        background-color: color(special-dark) !important;
      }
    }
  }

  button.woocommerce-Button.button {
    margin-top: $gutter * 2;
  }

  form.woocommerce-form.woocommerce-form-login.login {
    max-width: $gutter * 60;
  }

  .woocommerce-form__input-checkbox {
    height: auto !important;
  }
}
