.block-flex {
  &__image {
    @extend %image;
  }

  &__title {
    @extend .title;

    position: absolute;
    left: $gutter * 3;
    top: $gutter * 4;

    &::before {
      @extend %absolute;

      content: "";
      right: unset;
      top: unset;
      bottom: -$gutter;
      width: $gutter * 2;
      height: 1px;
      border-bottom: 1px solid color(dark);
    }
  }

  &__link {
    display: block;
    transition: $transition;

    &:hover {
      opacity: 0.8;
    }
  }
}
