.mini-product {
  @include cssLock("grid-gap", 360, 1920, (12, 24));

  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 2fr;

  &__image {
    height: 100% !important;
    width: 100%;
    object-fit: contain;
  }

  &__desciption {
    @include cssLock("padding", 360, 1920, (12, 24));

    padding-right: $gutter * 2.5;
    padding-left: 0;
  }

  &__title {
    @include cssLock("margin-bottom", 360, 1920, (6, 12));

    span {
      display: none;
    }
  }

  &__price {
    @extend .normalize-font;

    display: inline !important;
    text-transform: lowercase;
    font-size: 12px;
    font-weight: 500;
  }

  &__remove {
    @extend .button-x;

    position: absolute;
    top: 0;
    right: 0;
  }

  &__familly {
    display: inline !important;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__cat {
    display: inline !important;
    text-transform: lowercase;
    font-size: 12px;
  }

  &__name {
    @extend .normalize-font;

    display: inline !important;
    text-transform: lowercase;
    font-size: 12px;
    font-weight: 400;
  }
}
