.more-content {
  @include cssLock("font-size", 360, 1920, (10, 14));

  max-width: $gutter * 30;
  line-height: 1.5;
  color: rgba(color(dark), 0.7);

  @include media(md) {
    max-width: 100%;
  }

  &__more {
    display: none;
  }

  &__button {
    @extend .button;
    @extend .button--underline;

    @include cssLock("font-size", 360, 1920, (16, 16));

    text-transform: lowercase;
    margin-top: $gutter;
    display: block;
    letter-spacing: 1px;

    &[data-is-show="true"] img {
      transform: translateX($gutter * 2) translateY($gutter/2) rotate(-90deg);
    }
  }

  &__toggle-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX($gutter * 2) translateY($gutter/2) rotate(90deg);
    height: $gutter * 2;
    width: auto;
    transition: $transition;
  }
}
