* {
  box-sizing: border-box;
}

html,
body {
  font-family: map-get($font-family, "main"), sans-serif;
  overflow-x: initial;
  margin: 0 !important;
  padding: 0;
}

html {
  margin-bottom: 0 !important;
}

#wpadminbar {
  opacity: 0;
  user-select: none;
  display: none !important;

  @include media(md) {
    user-select: initial;
    display: initial !important;

    &:hover {
      opacity: 1;
    }
  }
}

.gmp_map_opts,
.gmpMapDetailsContainer,
.gmp_MapPreview {
  height: 100% !important;
  min-height: 300px;
}

xmp {
  padding: 15px;
  background: #001d2b;
  border-radius: 16px;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
}

li {
  display: flex;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.woocommerce-message {
  display: none !important;

  &:nth-last-child(1) {
    display: block !important;
  }
}

p {
  margin: 0;
}
