/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  light: #fff,
  dark: #000,
  greyy: #707070,
  greyy-light: #9d9b9b,
  special: #e3cfc4,
  special-dark:  #30373d
);

$media: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px
);

$transition: 0.4s;

$font-family: (
  main: "Avenir",
  special: "Big Caslon",
  special-win: "EB Garamond",
);

$gutter: 10px;
$gutter_num: 10;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$z-index: (
  sidebar: 100,
  popup: 50,
  sign-in-to-newsletter: 190,
  infobar: 200,
  header: 300,
  mini-cart: 310,
  preloader: 400
);

$dot-size: 15;
$space: 2;
$dot-space: 2;
